// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#datePick input {
    width: 300px;
    padding: 7px;
}

.ui-state-highlight {
    border: 0 !important;
}

.ui-state-highlight a {
    background: #363636 !important;
    color: #fff !important;
}
